header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-content: space-around; }
  header ul {
    background-color: rgba(255, 255, 255, 0.8); }

li {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

footer {
  background-image: linear-gradient(#333236, #736f7e);
  width: 100vw;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center; }

html {
  color: white;
  width: 100vw;
  background: url("../img/restaurant.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%; }

.wrapper {
  max-width: 1000px; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.8); }

@media screen and (min-width: 640px) {
  header, footer {
    justify-content: center;
    flex-direction: row; }
    header ul, footer ul {
      flex-direction: row; } }

ul {
  color: #070606;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
