footer {
    background-image: linear-gradient( rgb(51, 50, 54), rgb(115, 111, 126));
    width: 100vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;

}