header {

    div.logo {
        background-image: url('../img/logo.png');
    }

    ul {
        
        background-color: rgba(white, 0.8);

    }

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}



li {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
