@import 'header';
@import 'footer';

html { 
    color: white;
    line-height: 1.6;
    width: 100vw;
    }

.wrapper {
    max-width: 1000px;
}
    /* unvisited link */
a:link {
    color: rgb(219, 211, 211);
    text-decoration: none;
}

    /* visited link */
a:visited {
    color: rgb(219, 211, 211);
    text-decoration: none;
}

    /* mouse over link */
a:hover {
    cursor: url("../img/cursor-pointer.png"), pointer;
    color: rgb(219, 211, 211);
    text-decoration: none;
}

    /* selected link */
a:active {
    color: rgb(219, 211, 211);
    text-decoration: none;
}



body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/restaurant_shade.jpg") no-repeat center center fixed; 
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-color: black;
}

h3 {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    padding: 5rem;
    min-height: 500px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: rgba(#000000, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
}


@media screen and (min-width: 640px) {

    header, footer {

    justify-content: center;
    flex-direction: row;

        ul {
        flex-direction: row;
        min-width: 350px;
        min-height: 34px;
        border-radius: 0  27px 27px 0;
        }
  
    }
    
}

ul {
    color: rgb(7, 6, 6);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer ul {

    li {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;

        div{
            max-width: 170px;
            min-width: 170px;
            max-height: 170px;
            min-height: 170px;
            border-radius: 50%;
            background: center;
        }
        
        
    }


}
div.imglink1 {
    background: url("../img/Her-majesty-Rakija.jpg") no-repeat center center;
}
div.imglink2{
    background: url("../img/destilling.jpg") no-repeat center center;
}
div.imglink3 {
    background: url("../img/penandpaper.jpg") no-repeat center center;
}
div.imglink4 {
    background: url("../img/rakije.jpg") no-repeat center center;
}


