@import 'header';
@import 'footer';

html { 
    color: white;
    width: 100vw;
    background: url("../img/restaurant.jpg") no-repeat center center fixed; 
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    }

.wrapper {
    max-width: 1200px;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    min-height: 600px;
    background-color: rgba(#000000, 0.8);
}

ul {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 640px) {
    nav {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
    }
}

